<script type="text/javascript">
	<%= @maze %>
</script>

<%= javascript_include_tag 'processing.js' %>
<%= javascript_include_tag 'script.js' %>
<%= javascript_include_tag 'input.js' %>

<canvas id="canvas"></canvas>

<canvas id="app" data-processing-sources="/assets/hackathon.pde"></canvas>
<a href="javascript:void(0)" onclick="execute()">実行</a>
<a href="javascript:void(0)" onclick="save()">保存</a>
