<div id="level">
<ul data-turbolinks="false">
  <h1>難易度選択</h1>
	  <li><a href="input.html?stage=44" class="button44">4×4</a></li>
	  <li><a href="input.html?stage=55" class="button55">5×5</a></li>
	  <li><a href="input.html?stage=66" class="button66">6×6</a></li>
  </ul>
</div>